:root {
    --purple-bg: rgba(134, 51, 176, 0.4);
    --blue-bg: rgba(71, 84, 235, 0.4);
    --gray-bg: #F2F2F2;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Visuelt';
    src:
        url('../fonts/VisueltPro-Regular.woff2') format('woff2'),
        url('../fonts/VisueltPro-Regular.woff') format('woff'),
        url('../fonts/VisueltPro-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Visuelt';
    src:
        url('../fonts/VisueltPro-Medium.woff2') format('woff2'),
        url('../fonts/VisueltPro-Medium.woff') format('woff'),
        url('../fonts/VisueltPro-Medium.ttf') format('truetype');
    font-weight: 500;
}

body {
    font-family: 'Visuelt', serif;
    font-weight: 500;
    color: #808080;
}

h1, h2, h3 {
    color: #1A1A1A;
}

h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

a {
    color: #fff;
    text-decoration: none;
}

input {
    outline: none;
    border: none;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
    border: none;
    font-family: 'Visuelt', serif;
}

.big-btn {
    font-size: 18px;
    padding: 16px 24px;
    border-radius: 15px;
}

.small-btn {
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 15px;
}

.agree-text {
    font-size: 12px;
}

.agree-text__link {
    color: #505DEC;
}

.container {
    margin: 0 auto;
    max-width: 1394px;
    padding: 0 25px;
}

.header {
    padding: 16px 0;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-logo {
    width: 30px;
    display: none;
}

.header__menu-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;

}

.burger-menu {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fbfbfb;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.burger-menu__inner span {
    display: block;
    width: 14px;
    height: 2px;
    border-radius: 1px;
    background-color: #4754EB;
}

.burger-menu__inner span:nth-child(1) {
    width: 20px;
}

.header__name {
    font-size: 18px;
    color: #4754EB;
}

.nav__list {
    display: flex;
    gap: 24px;
    font-size: 18px;
}

.nav__list-item a {
    color: #808080;
}

.header__btn-field {
    display: flex;
    align-items: center;
    gap: 16px;
}

.languages span{
    color: #4754EB;
}

.header__btn {
    color: #fff;
    background-color: #4754EB;
}

.rocket {
    background:
        radial-gradient(1000px at 11% 90%, var(--purple-bg) 15%, var(--blue-bg) 40%, #d9d9d963 55%, var(--gray-bg) 60%, transparent),
        radial-gradient(500px at 65% 48%, var(--blue-bg), #d9d9d963 55%, var(--gray-bg) 65%, transparent),
        var(--gray-bg);
    padding: 120px 0;
}

.rocket__img,
.discount__img,
.about__img,
.feedback__img,
.advantage-item-img{
    max-width: 100%;
    object-fit: contain;
}

.rocket__wrapper {
    display: flex;
    justify-content: space-between;
}

.rocket__content {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 475px;
}

.rocket__title {
    font-size: 56px;
    margin-bottom: 40px;
    font-weight: 500;
}

.rocket__btn-wrapper {
    position: relative;
    max-width: 465px;
}

.rocket__input-text {
    background-color: rgba(242, 242, 242, 0.5);
    padding: 20px 16px;
    border-radius: 15px;
    margin-bottom: 16px;
    width: 100%;
}

.rocket__anchor-wrapper {
    margin-top: 126px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
}

.rocket__btn {
    color: #4754EB;
    background-color: #fff;
    position: absolute;
    top: 8%;
    right: 2%;
}

.rocket__agree {
    max-width: 354px;
}







.advantage {
    padding: 80px 0;
}

.advantage__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: 16px;
}

.advantage__list-item {
    border-radius: 24px;
    box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.15);
}

.advantage-item-title {
    font-size: 24px;
    border-radius: 24px 24px 0 0;
    background-color: #ffffff;
    padding: 12px 16px;
}

.advantage-item-text {
    font-size: 18px;
}

.advantage-item__header {
    display: flex;
    align-items: center;
    padding: 12px 16px;
}

.advantage-item__body {
    padding: 12px 0 16px;
    border-radius: 0 0 24px 24px;
    background-color: var(--gray-bg);
}

.about {
    background:
        radial-gradient(1000px at 90% 0, var(--purple-bg), var(--blue-bg) 28%, #d9d9d963 55%, var(--gray-bg) 60%, transparent),
        radial-gradient(500px at 0 80%, var(--purple-bg), #d9d9d963 55%, var(--gray-bg) 65%, transparent),
        var(--gray-bg);
    padding: 80px 0;
}

.about__wrapper {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.about__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 463px;
}
.about-pagination {
    display: flex;
    align-items: center;
    gap: 16px;
}
.pagination-dot {
    color: #fff;
}
.pagination-dot--active {
    color: #4754EB;
}
.pagination-line {
    height: 1px;
    width: 24px;
    background: #fff;
}
.about__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 30px 0 70px;
}

.about__info-span {
    color: #4754EB;
}
.about__info-text,
.about__info-span {

    font-size: 18px;
}
.about__btn {
    background-color: #4754EB;
    color: #fff;
    align-self: flex-start;
}









.tariffs {
    margin: 80px 0 88px;
}

.tariffs__cards-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 318px));
    justify-content: center;
    gap: 24px;
}

.tariffs-card {
    box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.15);
    border-radius: 24px;
}

.tariffs-card__header {
    background-color: #fff;
    font-size: 24px;
    padding: 20px 24px;
    border-radius: 24px 24px 0 0;
}
.tariffs-card__header-title {
    color: #1A1A1A;
}
.tariffs-card__header-price span{
    color: #4754EB;
}
.tariffs-card__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 30px;
    background-color: #f8f8f8;
    border-radius: 0 0 24px 24px;
}
.card-content-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}

.card-content__item {
    font-size: 18px;
}

.item-mark {
    display: grid;
    grid-template-columns: 32px auto;
    gap: 16px;
}

.item-cross {
    display: grid;
    grid-template-columns: 32px auto;
    gap: 16px;
}

.item-mark::before {
    content: '';
    background: center no-repeat url('../img/mark.svg');
    width: 32px;
    height: 32px;
}

.item-cross::before {
    content: '';
    background: center no-repeat url('../img/cross.svg');
    width: 32px;
    height: 32px;
}

.tariffs-card__footer-btn {
    color: #4754EB;
    padding: 16px 56px;
    background-color: #fff;
    border-radius: 16px;
    text-align: center;
}



.reviews {
    background:
        radial-gradient(1000px at 85% 105%, var(--purple-bg), var(--blue-bg) 10%, #d9d9d963 40%, var(--gray-bg) 60%, transparent),
        radial-gradient(1000px at 100% 0, var(--purple-bg) 30%, #d9d9d963 55%, var(--gray-bg) 60%, transparent),
        var(--gray-bg);
}

.reviews__wrapper {
    display: flex;
    flex-direction: column;
    padding: 80px 0;
}

.reviews__list {
    position: relative;
    min-height: 640px;
    margin-bottom: 40px;
}

.reviews__list-item {
    box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.15);
    border-radius: 24px;
    max-width: 628px;
    position: absolute;
}

.reviews__list-item:nth-child(1) {
    left: 33%;
    top: 0;
    z-index: 3;
}
.reviews__list-item:nth-child(2) {
    bottom: 42%;
    right: -1%;
    z-index: 2;
}
.reviews__list-item:nth-child(3) {
    bottom: 20%;
    right: 30%;
    z-index: 1;
}
.reviews__list-item:nth-child(4) {
    left: 6%;
    top: 12%;
    z-index: 2;
}

.reviews-item__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    border-radius: 24px 24px 0 0;
    padding: 16px;
    position: relative;
    background: #fff;
}

.review-person {
    display: flex;
    gap: 16px;
}

.review-person__avatar {
    width: 48px;
    height: 48px;
}

.review-person__name {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 20px;
}

.review-date {
    font-size: 14px;
}
.reviews-item__footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 0 0 24px 24px;
    padding: 16px 24px;
    background-color: #f8f8f8;
}

.reviews__btn {
    color: #4754EB;
    background-color: #fff;
    align-self: flex-end;
    font-weight: 500;
}

.discount {
    padding: 87px 0;
}

.discount__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.discount__content {
    display: flex;
    flex-direction: column;
    max-width: 628px;
}

.discount__title {
    font-size: 56px;
}

.discount__btn-wrapper {
    position: relative;
}

.discount__input-text{
    background-color: #F2F2F2;
    padding: 20px 16px;
    border-radius: 15px;
    margin-bottom: 16px;
    width: 80%;
}

.discount__btn{
    background-color: #4754EB;
    color: #fff;
    position: absolute;
    top: 10%;
    right: 21%;
}

.discount__agree {
    max-width: 354px;
}

.questions {
    background:
        radial-gradient(1000px at 0% 100%, var(--purple-bg) 15%, var(--blue-bg) 40%, #d9d9d963 55%, var(--gray-bg) 60%, transparent),
        radial-gradient(1000px at 100% 0%, var(--purple-bg), #d9d9d963 55%, var(--gray-bg) 65%, transparent),
        var(--gray-bg);
    padding: 80px 0;
    color: #1A1A1A;
}

.quest--close,
.quest--open {
    border-radius: 50%;
    box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.15);
}

.questions__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.questions__content-item {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    border: 1px solid #fff;
}

.questions-item__header {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background-color: #ffffff;
    border-radius: 24px;
    align-items: center;
    padding: 28px 32px;
}

.questions__content-item:nth-last-child(-n+2) .questions-item__header {
    background-color: rgba(255, 255, 255, 0.7);
}

#quest-open {
    border-radius: 24px 24px 0 0;
}

.quest-title {
    font-size: 36px;
}

.questions-item__footer {
    font-size: 18px;
    opacity: .5;
    background-color: #dadada00;
    padding: 16px 24px;
    border-radius: 0 0 24px 24px;
}

.feedback {
    margin: 80px 0;
}

.feedback__wrapper {
    display: flex;
    justify-content: space-between;
}

.feedback__content {
    display: flex;
    flex-direction: column;
    max-width: 465px;
}

.feedback-titile {
    margin-bottom: 16px;
}

.feedback-text {
    font-size: 18px;
    margin-bottom: 24px;
}

.feedback__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
}

.feedback__form-input {
    font-family: 'Visuelt', serif;
    background-color: #F2F2F2;
    padding: 16px;
    border-radius: 15px;
}

.feedback__form-input:last-child {
    padding: 16px 16px 40px;
}


.feedback__form-input::placeholder {
    font-size: 18px;
}

.feedback__btn-field {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.feedback-btn {
    color: #fff;
    background-color: #4754EB;
}

.feedback__agree {
    max-width: 238px;
}

.footer {
    background-color: #4754EB;
    color: #fff;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 25px 0;
}
.footer__info {
    max-width: 192px;
}

.footer__info p:nth-child(1) {
    font-size: 18px;
    color: #fff;
}

.footer__info p:nth-child(2) {
    font-size: 15px;
    color: #D9D9D9;
}

.footer__swipe {
    font-size: 18px;
    color: #fff;
}

.footer__swipe::after {
    content: '';
    display: inline-block;
    margin-left: 8px;
    width: 16px;
    height: 16px;
    background-image: url('../img/Arrow.png');
}



@media(max-width: 1220px) {
    .discount {
        padding: 0 0 80px;
    }
    .discount__wrapper {
        flex-direction: column;
    }
    .header__btn-field,
    .nav__list {
        display: none;
    }
    .profile-logo{
        display: block;
    }
    .burger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .burger-menu__inner {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    .about {
        background:
            radial-gradient(1000px at 90% 50%, var(--purple-bg), var(--blue-bg) 28%, #d9d9d963 55%, var(--gray-bg) 60%, transparent),
            radial-gradient(500px at 20% 100%, var(--purple-bg), #d9d9d963 55%, var(--gray-bg) 65%, transparent),
            var(--gray-bg);
    }
    .about__wrapper {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}

@media(max-width: 1180px) {
    .rocket {
        background:
            radial-gradient(700px at 8% 40%, var(--purple-bg) 15%, var(--blue-bg) 40%, #d9d9d963 55%, var(--gray-bg) 75%, transparent),
            radial-gradient(500px at 65% 50%, var(--blue-bg), #d9d9d963 55%, var(--gray-bg) 65%, transparent),
            var(--gray-bg);
        padding: 40px 0 60px;
    }
    .rocket__wrapper {
        align-items: center;
        flex-direction: column;
    }
    .rocket__anchor-wrapper {
        display: none;
    }
}

@media(max-width: 1060px) {
    .feedback__wrapper {
        justify-content: center;
    }
    .reviews__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .reviews__list-item {
        max-width: 437px;
        position: static;
    }
    .reviews__btn {
        margin: 0 auto;
    }

    .feedback__img {
        display: none;
    }
}

@media(max-width: 795px) {
    .footer__swipe,
    .footer__info p:nth-child(1),
    .footer__info p:nth-child(2),
    .about__info-text,
    .about__info-span {
        font-size: 15px;
    }
    .reviews__btn {
        box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.15);
    }
    .tariffs {
        margin: 40px 0 80px;
    }
    .discount__input-text {
        width: 100%;
    }
    .discount__btn {
        right: 1%;
    }
}

@media(max-width: 650px) {
    .about {
        background: radial-gradient(1000px at 100% 60%, var(--purple-bg), var(--blue-bg) 28%, #d9d9d963 55%, var(--gray-bg) 60%, transparent), var(--gray-bg);;
    }
}


@media(max-width: 560px) {
    body,
    .big-btn,
    .small-btn,
    .feedback__form-input::placeholder,
    .advantage-item-text {
        font-size: 14px;
    }
    h2,
    .quest-title {
        font-size: 24px;
    }
    .rocket__title,
    .discount__title {
        font-size: 36px;
    }
    .feedback-text,
    .questions-item__footer {
        font-size: 16px;
    }
    .advantage-item-title {
        font-size: 18px;
        gap: 20px;
    }
    .feedback__btn-field {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .discount__btn-wrapper {
        margin-bottom: 16px;
    }
    .about__btn {
        width: 100%;
    }
    .advantage-item-img {
        height: 36px;
    }
}

@media(max-width: 440px) {
    .rocket {
        padding: 40px 0;
        background:
            radial-gradient(600px at -15% 54%, var(--purple-bg) 15%, var(--blue-bg) 40%, #d9d9d963 55%, var(--gray-bg) 75%, transparent),
            var(--gray-bg)
    }
    .about {
        padding: 40px 0;
        background:
            radial-gradient(700px at 100% 48%, var(--purple-bg), var(--blue-bg) 28%, #d9d9d963 55%, var(--gray-bg) 60%, transparent),
            var(--gray-bg);
    }
    .about__info {
        margin: 24px 0 30px;
    }
    .about-pagination {
        font-size: 11px;
    }
    .rocket__agree {
        margin-bottom: 40px;
    }
    .tariffs {
        margin: 40px 0;
    }
    .quest--close,
    .quest--open {
        width: 38px;
    }
    .footer__wrapper {
        justify-content: flex-start;
    }
}
